html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
}
.pool-table-timer{
  display: flex;
  align-items: center;

}
.pool-table-title{
  padding: 20px; 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
.total-receipt-title{
  background-color: tableColor;
  padding: 10px; 
  width: 100%;
  color: white;
}

.receipt-history-container{
  border-style: solid; 
  border-width: 2px; 
  border-color: purple; 
  
}
.receipt-history-title{
  background-color: purple;
  padding: 20px; 
  font-size: 24px;
  color: white;
}
.other-receipts-title{
   background-color: orange;
   padding: 20px; 
   font-size: 24px; 
   color: white; 
   display: flex; 
   align-items: center; 
   justify-content: space-between;
}
.other-receipts-table-container{
  border-style: solid; 
  border-width: 2px; 
  border-color: orange;
  margin-bottom: 10px;
  overflow: scroll;
}
.search-bar{
  margin-top: 10px;
}
.table-container{
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  
}
.time-displays{
  margin-top: 10px;
}
.page-navigator{
  display: flex;
  align-items: center;
  justify-content: center;
}